* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #000000;
  color: white;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(images/header-image.png);
  background-position: center;
  background-size: cover;
  padding: 10px 8%;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  width: 150px;
  cursor: pointer;
}

nav button {
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 12px;
  background: #db0001;
  padding: 7px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.langBtn {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid white;
}

.langBtn img {
  width: 12px;
  margin-left: 5px;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 100px;
}

.header-content h1 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 70px;
  max-width: 650px;
}

.header-content p {
  font-size: 15px;
  line-height: 30px;
  max-width: 600px;
  margin: 5px auto;
}

.header-content h3 {
  font-size: 18px;
  margin-top: 20px;
}

.email-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: white;
  overflow: hidden;
  border-radius: 10px;
}

.email-signup input {
  width: 100%;
  border: none;
  outline: none;
  padding: 7px 20px;
  font-size: 15px;
  color: #db0001;
  font-weight: 500;
  border-radius: 10px;
}

.email-signup button {
  border: none;
  outline: none;
  background: #db0001;
  color: white;
  padding: 7px 20px;
  font-size: 15px;
  cursor: pointer;
}

/*--------------features---------------------------*/
.features {
  padding: 50px 10%;
  font-size: 22px;
}

.features h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.text-colum,
.img-colum {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.img-colum img {
  width: 90%;
  display: block;
  margin: auto;
}

/*--------faq------------------*/

.faq {
  padding: 10px 10%;
  text-align: center;
  font-size: 18px;
}

.faq h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.accordion {
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
}

.accordion li {
  list-style: none;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
  margin-bottom: 5px;
}

label::after {
  content: "+";
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}

input[type="radio"] {
  display: none;
}

.content {
  background: #5a5656;
  max-height: 0;
  padding: 0 20px;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion p {
  font-size: 16px;
  align-items: flex-start;
  margin: 20px 0;
}

.accordion input[type="radio"]:checked + label + .content {
  max-height: 100%;
  padding: 20px;
  border-radius: 10px;
}

.accordion input[type="radio"]:checked + label::after {
  transform: rotate(135deg);
}

.faq .email-signup {
  max-width: 600px;
  margin: 20px auto 60px;
}

.faq small {
  font-size: 13px;
}

/*-----------------footer-------------------*/

.footer {
  padding: 50px 15% 10px;
  color: #777;
  border-top: 6px solid #303030;
}

.footer h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.footer .colum {
  flex-basis: 25%;
  flex-grow: 1;
  margin-bottom: 20px;
}

.footer .colum a {
  display: block;
  text-decoration: none;
  color: #777;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer .row {
  align-items: flex-start;
  padding: 10px 0;
}

.footer .langBtn {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.copyright {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/*-----------------media-queries for small screen-------------------*/

@media only screen and (max-width: 600px) {
  .logo {
    width: 100px;
  }
  nav button {
    padding: 5px 10px;
  }
  nav .langBtn {
    padding: 4px 8px;
  }

  .header-content {
    position: unset;
    transform: none;
    padding-top: 150px;
  }
  .header-content h1 {
    font-size: 30px;
  }

  .email-signup button {
    font-size: 12px;
    padding: 10px 15px;
  }

  .text-colum,
  .img-colum {
    flex-basis: 100%;
  }

  .features h2 {
    font-size: 30px;
  }

  .features p {
    font-size: 15px;
  }

  .row:nth-child(2),
  .row:nth-child(4) {
    flex-direction: column-reverse;
  }

  .features .row {
    padding: 10px 0;
  }

  .faq h2 {
    font-size: 20px;
  }

  .accordion .content {
    font-size: 15px;
  }

  .accordion li label {
    padding: 10px;
    font-size: 14px;
  }

  label::after {
    font-size: 22px;
  }
}
